@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light/Dark base */
@layer base {
  :root { color-scheme: light dark; }
  html, body, #root { height: 100%; }

  body {
    @apply bg-white text-slate-900 font-sans antialiased;
    background-image: radial-gradient(1000px 400px at top right, rgba(96,165,250,.08), transparent);
  }
  .dark body {
    @apply bg-slate-950 text-slate-100;
    background-image: radial-gradient(1000px 400px at top right, rgba(96,165,250,.15), transparent);
  }

  img { @apply block max-w-full; }
}